<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="css/reset.css">
  	<link rel="stylesheet" href="css/layout.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app" class="wrapper bg-color--primary">
    <!-- start header -->
		<header class="header bg-color--primary">
			<div class="container">
				<nav class="navbar navbar-expand-lg ">
  					<a class="navbar-brand" href="#">
              			<img src="image/hotel-wlogo.png" alt="">     
           			</a>
  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    					<span class="navbar-toggler-icon">
                <img src="image/bar.png" alt="">     
              </span>
  					</button>
  					<div class="collapse navbar-collapse" id="navbarNavDropdown">
    					<ul class="navbar-nav">
					      	<li class="nav-item active">
					        	<a class="nav-link" href="#">首頁</a>
					      	</li>
					      	<li class="nav-item">
					        	<a class="nav-link" href="#">飯店簡介</a>
					      	</li>
      						<li class="nav-item dropdown">
						        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          房型介紹
						        </a>
        						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						            <a class="dropdown-item" href="#">房型一覽</a>
						            <a class="dropdown-item" href="#">房價表 action</a>
						            <a class="dropdown-item" href="#">訂房須知</a>
        						</div>
      						</li>
      						<li class="nav-item">
        						<a class="nav-link" href="#">聯絡我們</a>
      						</li>
    					</ul>
  					</div>
				</nav>
			</div>
		</header>
    <!-- end header -->
		<section>
      <!-- start home -->
      <div class="home bg-color--default">
        <div class="container">
          <div class="row">
            <span class="homeTitle color--black">ASOGO</span>
          </div>
        </div>
        <img src="image/building-02-01.png" alt="">
      </div>
      <!-- end home -->
      <!-- start room -->
      <div class="room">
        <h1 class="color--primary u-text-center">房型一覽</h1><br>
        <label class="color--primary">
          <input type="checkbox" v-model="is_discount"/>顯示優惠價
        </label>
        <hr class="bg-color--default"><br>
        <div class="container-fluid">
          <div v-for="room in rooms" class="r-type bg-color--default">
            <div class="photo">
              <img src="{{room.img}}" alt="">
            </div>
            <div class="element">
              <h3 class="name">{{room.name}}</h3>
              <span class="size">坪數 : {{room.size}}坪</span><br>
              <span class="point">特色 : {{room.point}}</span><br>
              <span class="price">原價 : ${{room.price}}</span><br>
              <h6 class="price color--red" v-if="is_discount">優惠價 : ${{parseInt(room.price*room.discount)}}</h6>
              <a class="btn" href="">View More</a>
            </div>
          </div>
        </div>
      </div>
			<!-- end room -->
		</section>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>